[submodule "poky"]
	path = poky
	url = https://github.com/yoctoproject/poky.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi/
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-selengalp"]
	path = meta-selengalp
	url = https://github.com/selengalp/meta-selengalp.git
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://github.com/lgirdk/meta-virtualization.git
